// login.scss

@font-face {
    font-family: 'Poppins';
    src: url('/Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-02';
    src: url('/Poppins-Medium.ttf') format('truetype');
}

.container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    width: 500px; 
    background-color: #70708d;
    border-radius: 20px;
    padding: 70px;

    form {
        width: 100%; 

        h1 {
            font-family: 'Poppins';
            font-size: 30px;
            text-align: center;
            margin-bottom: 20px;
            color: #ffffff; 
        }

        .signup-link {
            text-align: center;
            margin-bottom: 20px;

            p {
                font-family: 'Poppins';
                color: #ffffff;
            }

            a {
                font-family: 'Poppins';
                color: #202057;
                text-decoration: none;
                font-weight: bold;
            }
        }

        div {
            position: relative; 
            margin-bottom: 20px;

            input[type="email"],
            input[type="password"] {
                width: calc(100% - 40px); 
                padding: 10px 20px; 
                font-size: 16px;
                border: none;
                border-radius: 5px;
                margin-left: 20px; 
                font-family: 'Poppins';
            }

            .icon {
                position: absolute;
                top: 50%;
                left: 10px;
                transform: translateY(-50%);
                color: #202057;
            }
        }

        .recall-forget {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-family: 'Poppins';
            font-size: 15px;
            margin-bottom: 20px;

            label {
                display: flex;
                align-items: center;
                color: #ffffff;
                font-family: 'Poppins';
                font-size: 15px;
                margin-left: 30px;

                input[type="checkbox"] {
                    margin-right: 10px; 
                }
            }

            a {
                color: #202057;
                text-decoration: none;
                font-weight: bold;
                margin-right: 30px;
            }
        }

        button {
            width: 100%;
            padding: 10px;
            background-color: #202057;
            border: none;
            border-radius: 5px;
            font-family: 'Poppins-02';
            font-size: 18px;
            cursor: pointer;
            color: #ffffff; 
            font-weight: bold; 
        }
    }
}
