.mainProductList {
    padding: 10px;
    width: 100%;
    min-height: 100vh; // Garante que o contêiner tenha pelo menos a altura da tela
    display: flex;
    flex-direction: column; // Para alinhar os itens verticalmente
    align-items: center; // Centraliza verticalmente

    

    .product-list {
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        gap: 10px;
        align-items: center;
        justify-content: center; // Centraliza os itens horizontalmente
        .product-item {
            flex: 0 0 calc(33.33% - 20px); // Define um tamanho fixo para cada item
            padding: 5px;
            margin: 0 10px 10px 0; // Adiciona margem entre os itens
            box-sizing: border-box; // Considera a borda no cálculo do tamanho
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: rgba(255, 255, 255, 0.692);
            border-radius: 10px;
            img {
                width: 100%;
                height: auto;
                object-fit: cover;
                border-radius: 10px;
            }

            h3 {
                margin: 10px 0 5px;
                text-align: center;
            }

            p {
                margin: 5px 0;
                text-align: center;
            }

            button {
                width: 100px;
                padding: 10px;
                background-color: #1f1f72;
                color: white;
                border: none;
                cursor: pointer;
                margin-top: 10px;
                transition: background-color 0.3s ease;

                &:hover {
                    background-color: #0000ff;
                }
            }
        }

        .product-item:nth-child(3n) {
            margin-right: 0; // Remove a margem do terceiro item em cada linha
        }
    }
}
