// components/ProductItem.scss
.product-item {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease; // Adiciona transform à transição
    cursor: pointer;

    // Remover estilos do link
    a {
        color: inherit;
        text-decoration: inherit;
    }

    h3 {
        margin-top: 0;
        margin-bottom: 5px;
    }

    img {
        width: 50%; // Define a largura da imagem para 100% da largura do card
        height: auto; // Mantém a proporção da imagem
        max-height: 200px; // Define uma altura máxima para a imagem
        object-fit: cover; // Garante que a imagem se ajuste dentro do container sem distorção
        border-radius: 4px; // Bordas arredondadas para combinar com o card
        margin-bottom: 10px; // Espaço entre a imagem e o texto
    }

    p {
        margin-bottom: 5px;
    }

    p:last-child {
        margin-bottom: 0;
    }

    &:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transform: scale(1.05); // Aumenta o tamanho em 5% ao passar o mouse
    }
}
