@import '../../index.css';

.filters {
    margin: 100px 0 20px 0; // Define margens superior e inferior
    display: flex;
    align-items: baseline;
    justify-content: c;
    label {
        font-weight: bold;
        margin-right: 10px;
    }

    select {
        padding: 5px;
        border-radius: 5px;
    }
}
