.similarProducts {
    margin-top: 50px;

    h3 {
        width: 100%;
        text-align: center;
    }

    .productList {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        width: 100%;

        .productItem {
            flex: 0 0 calc(25% - 20px); /* Define o tamanho dos cards (4 cards por linha) */
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 10px;
            text-align: center;
            box-sizing: border-box; /* Inclui a borda no cálculo do tamanho */
            margin-bottom: 20px; /* Adicione um espaçamento inferior para separar os cards */

            img {
                width: 100%; /* Define a largura da imagem como 100% do card */
                max-height: 300px; /* Define a altura máxima da imagem para evitar que ela fique muito alta */
                object-fit: cover; /* Redimensiona a imagem para preencher o espaço, mantendo a proporção */
                border-radius: 5px;
                margin-bottom: 10px;
            }

            p {
                margin-bottom: 5px;
            }
        }

        a {
            text-decoration: none;
            color: inherit; /* Mantém a cor do texto padrão */
        }
    }
}
