.profile {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    text-align: center;

    h2 {
        margin-bottom: 20px;
    }

    .user-info {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;

        .user-avatar {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            overflow: hidden;
            margin-right: 20px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .user-details {
            text-align: left;

            p {
                margin-bottom: 10px;
            }
        }
    }

    .sell-button, .list-button {
        padding: 10px 20px;
        font-size: 16px;
        border: none;
        border-radius: 4px;
        background-color: #007bff;
        color: white;
        cursor: pointer;
        margin-top: 10px;
        text-decoration: none;
        display: inline-block;
        width: 150px; /* Adicionei largura fixa para os botões */
        margin-right: 10px; /* Adicionei margem direita para separar os botões */

        &:hover {
            background-color: #0056b3;
        }
    }
}
