:root {
    --color1: #f6f6f6;
    --color2: #e8e8e8;
    --color3: #333333;
    --color4: #990100;
    --color5: #b90504;
    --color5-dark: darken(#b90504, 10%);
}

.mainProduct {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 100px;

    .imgContainer {
        flex: 2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        gap: 10px;

        .mainImage {
            img {
                width: 50vh; // Define a largura da imagem principal
            }
        }

        .littleImages {
            display: flex;
            flex-direction: column;
        }
    }

    .textContainer {
        flex: 2;
        display: flex;
        flex-direction: column;
        align-items: flex-start; // Alinha os itens à esquerda
        text-align: left; // Alinha o texto à esquerda

        h3 {
            font-weight: 100;
            font-size: 3rem;
            margin-bottom: 0;
            color: var(--color4); // Cor do texto dos títulos
        }

        p {
            margin-bottom: 5px;
            color: var(--color3); // Cor do texto das descrições
        }

        button {
            background-color: var(--color4); // Cor de fundo do botão
            color: var(--color1); // Cor do texto do botão
            width: 500px;
            height: 50px;
            cursor: pointer;
        }
    }
}
