.mainProduct {
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
    width: 80%;
    align-items: center; // Centraliza o conteúdo verticalmente
    margin: 0 auto; // Centraliza horizontalmente

    .imgContainer {
        width: 40%;
        margin-top: 200px;

        .littleImages {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;

            img {
                width: 30px;
                height: 30px;
                object-fit: cover;
                border: 1px solid #333333;
                border-radius: 5px;
                cursor: pointer;

                &:hover {
                    border-color: #990100;
                }
            }
        }

        .mainImage {
            img {
                width: 100%;
                height: auto;
                border-radius: 5px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            }
        }
    }

    .textContainer {
        width: 50%;

        h3 {
            font-size: 1.5rem;
            margin-bottom: 10px;
        }

        p {
            font-size: 1rem;
            margin-bottom: 10px;
        }

        button {
            padding: 10px 20px;
            background-color: #b90504;
            color: #f6f6f6;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: darken(#b90504, 10%);
            }
        }
    }
}
